@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    
   padding-top: 5px;
   
    font-family: 'Poppins', sans-serif;
 
    box-sizing: border-box;

}




body{
    width: 100%;
    margin: 5px;
    font-family: 'lato';
    background: linear-gradient(to bottom, #ffffff, #f1e3e3, #e5ccf1);
    background-size: 100%;

}

.navbar{
padding-bottom: 0px;
margin: 0px;
}
.card-img{
  opacity: 50%;
  width: 100%;
 
}
.barra{
  padding: 1px ;

}


/* News Cards */
.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 70px 0;
    background-color: rgb(rgb(17, 17, 17), rgb(10, 10, 10), rgb(0, 0, 0));
  }
  
  .news-cards img {
    width: 100%;
    height: 180px;
  }
  
  .news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .news-cards a {
    padding: 10px 0;
    color: #5f4040;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
  }
  
.accorddion{
font-family: sans-serif;
background-color: green;
  }
   
.imgacordion{
  padding: 5px;
  width: 30 px;

}
.textoqs2{
  margin: 5px;
  text-align: center;
  font-weight: 100;
  font-family: monospace;
  text-decoration: black;
  image-orientation: flip;
  margin-right: 5px;
}




.parallax  {
  /* The image used */


  /* Set a specific height */
 



font-size: 30px;
font-style:normal;
font-family: 'Archivo Black' ;
text-align: center;

 
border-radius: 10px;
background-color: transparent;

width: 800px;
height: 20;

}

.accordion-body{
  background-color: seashell;
  align-items: center;
}
.imgaccordion{
  align-items: right;
  border-radius: 20px;
 
}
.logotipo{
  width: 7cm;
  height: 6cm;
  border-radius: 30px
  ;
}

.logotipo{
  align-items: right;
  padding: 10px;
}

.articuloimg{
  border-radius: 30px;
}

.navaling{
  align-content: right;
  align-items: right;
}

footer{
  min-height: 100px; 
  color: rgb(rgb(17, 17, 17), rgb(10, 10, 10), rgb(0, 0, 0));
font-size: 30px;
font-style:normal;
font-family: 'Archivo Black' ;
text-align: center;
align-content: center;
margin: 10px;
padding: 15px;
border-radius: 10px;
background-color: transparent;
margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}



.barra{
  color: rgb(0, 0, 0);
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  
  .bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #057ccc, #7df8c5);
    position: relative;
    overflow: hidden;
  }
  
  .header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  
  .header_nav h1{
    color: #fff;
    font-family: 'Gagalin';
  }
  
  .header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .banner_title h2{
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .banner_title .llamanos{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
  }
  
  .banner_img{
    animation: movimiento 2.5s linear infinite;
  }
  
  .banner_img img{
    width: 600px;
    display: block;
  }
  
  /* burbujas */
  
  .burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;
  
    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
  }
  
  .burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
  }
  
  .burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
  }
  
  .burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
  }
  
  .burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
  }
  
  .burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
  }
  
  .burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
  }
  
  .burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
  }
  
  .burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
  }
  
  .burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
  }
  
  .burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
  }
  
  
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
  @keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
  }
  
  @keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
  }
  
  .especial{
    color: black;
    background-color: red;
  }

  .carrusel{
    height: 800px;
    width: 800px;

  }
  
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}
.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 70px;
  height: 70px;
  text-decoration: none;
}
.social-button__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 28px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff!important;
}
.social-button:focus::after, .social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.social-button--facebook {
  color: #3b5998 !important;
}
.social-button--facebook::after {
  background: #3b5998;
}
.social-button--twitter {
  color: #1da1f2 !important;
}
.social-button--twitter::after {
  background: #1da1f2;
}
.social-button--pinterest{
 color: #bd081c !important;
}
.social-button--pinterest::after {
  background: #bd081c;
}
.social-button--youtube {
 color: #ff0000 !important;
}
.social-button--youtube::after {
  background: #ff0000;
}
.social-button--instagram {
 color: #c13584 !important;
}
.social-button--instagram::after {
  background: #c13584;
}


/** Categorias **/
.categorias ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.categorias ul li {
  flex: 1 0 calc(50% - 1rem);
  padding: 2rem;
}
.categorias ul li:nth-child(1) {
  background-color: #008fd1;
}
.categorias ul li:nth-child(2) {
  background-color: #db008d;
}
.categorias ul li:nth-child(3) {
  background-color: #9800d1;
}
.categorias ul li:nth-child(4) {
  background-color: #eca300;
}
@media screen and (min-width:768px) {
  .categorias ul li {
      flex: 1 0 calc(25% - 1rem);
  }
}

.categorias ul li a {
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.categorias ul li i {
  font-size: 3rem;
  margin-bottom: 1rem;
}
