@charset "utf-8";
/* CSS Document */

.altura-a{
	padding: px 0;
}




*{
	margin: 0px;
	padding: 0px;


}

.clarfix{
	float:none;
	clear: both;
}
body{
	background: url(../imagenes/guia-3.png);

	background-attachment: fixed;

}

#global{
	width: 90%;
	margin: 5px auto;
	margin-top: 5px;
	padding:5px;
	background: whitesmoke;
	box-shadow: 10px 10px 10px rgb(221, 128,221);

}



.carrusel{
    width: 80%;
    height: 75%;
    margin-left: 100px ;
    margin-bottom: 15px;
    margin-top: 35px auto;
    padding:50px auto;
    background:white;
    box-shadow: auto;
}

footer{
    background-color: rgb(24, 21, 21);
    padding: 100px;
    margin: 50px auto ;
    text-align: center;

}

footer p{
    color:white
}