* {
    
 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}




body{
    width: 100%;
    font-family: 'lato';
    background: linear-gradient(to bottom, #0ded32, #ff000d, #ae00ff);
    background-size: 100%;
background-repeat: repeat;
}

.parallax-completo0 {
width: 100%;
height: 100vh;
background-image: url('../G2021.png');
background-position: center;
background-size: cover;
background-repeat:no-repeat;
background-attachment: fixed ;
}

.imagen{
  margin: 5px;
    width: 300px;
    height: 250x;
    float: right;

}


.parallax-completo2 {
    width: 100%;
    font-family: 'lato';

    height: 100vh;
    background-image: url('../imagenes/misión.png');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed ;
    }

    .parallax-completo3 {
        width: 100%;
        height: 100vh;
        background-image: url('../imagenes/155086555_1196327690783240_8632984524479217670_o.jpg');
        background-position: center;
        background-size: cover;
        background-repeat:no-repeat;
        background-attachment: fixed ;
        }


    


body:before{
content: '';
position: fixed;
top: 0;
bottom: 0;
width: 100%;
z-index: -1;
    background: linear-gradient(to left top, rgb(242, 245, 245), #e7bfbf 75%);
}


#global{
	width: 90%;
	margin: 5px auto;
	margin-top: 5px;
	padding:5px;
	


}

#globalpara{
	width: 90%;
	margin: 5px auto;
	margin-top: 5px;
	padding:5px;



}

.logotipo{
    width: 550 px;
    padding: 10px;
}

.carrusel{
    width: 80%;
    height: 75%;
    margin-left: 100px ;
    margin-bottom: 15px;
    margin-top: 35px auto;
    padding:50px auto;
  
    box-shadow: auto;
}

footer{
    background-color: rgb(24, 21, 21);
    padding: 100px;
    margin: 50px auto ;
    text-align: center;

}

footer p{
    color:white
}

.textoqs
    {
        background-color: rgb(161, 62, 62);
        padding: 100px;
        margin: 50px auto ;
        text-align: center;
    
    }


    .textoqs2
    {
        background-color: rgb(130, 224, 87);
        padding: 10px;
        margin-left:  30px auto ;
        text-align: center;
    
       
    }

    h3{
        margin: 5px;

    }