html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.titulo {
    text-align: center;
}

.contenedor {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    padding-top: 3rem;
}

.navegacion {
    background-color: black;
    margin: 3rem 0;
}

.navegacion a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.navegacion a:hover {
    background-color: #ab4ac9;
    color: black;
}

img {
    max-width: 100%;
}

.slider img {
    width: 100%;
}

.entrada p {
    text-align: justify;
    margin: 5px;
}

.informacion {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    border: #282828 solid 2px;
    box-shadow: #000000 1px 1px 1px 4px;
}

.informacion p {
    margin: 0 0 .5rem 0;
    padding: 1rem;
    text-align: center;
}

.imagen1,
.imagen2 {
    text-align: center;
}

blockquote {
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    color: #525252;
}

.footer {
    background-color: #ab4ac9;
    padding-top: 3rem;
    text-align: center;
}

.footer a {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: #525252;
    margin-bottom: .5rem;
}

.copyright {
    color: white;
    background-color: #282828;
    margin: 3rem 0 0 0;
    padding: 1rem;
    text-align: center;
}


/** Grid aqui**/

.navegacion nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (min-width:768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: minmax(10px, max-content) auto minmax(100px, max-content);
        grid-template-rows: repeat(4, auto);
        grid-gap: 1rem;
    }
    .titulo {
        grid-column: 1 / 4;
    }
    .entrada {
        grid-column: 2 / 3;
        grid-row: 2 / 5;
    }
    .informacion {
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imagen1 {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }
    .imagen2 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
}

.footer .contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
}

.contenedor2 {
    max-width: 1100px;
    margin: 0 auto;
}

.blog {
    display: flex;
    flex-flow: column wrap;
    max-height: 5500px;
}

.entrada2 {
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.28);
    margin-bottom: 3rem;
    width: calc(50% - 1rem);
    background-color: white;
}

@media screen and (min-width: 768px) {
    .blog {
        max-height: 3200px;
    }
    .entrada2 {
        width: calc(33% - 1rem);
    }
}

.entrada2 img {
    max-width: 100%;
}

.entrada2 .contenido {
    padding: 1rem;
}

.entrada2 .contenido h2 {
    margin: 0;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}

.icon-link>.bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
}

.icon-link:hover>.bi {
    transform: translate(.25rem);
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: 1rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}